#intro,
#intro-2 {
  background-image: url('../images/nightbackground.jpg');
  background-repeat: round;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  background-attachment: fixed;
}

html,
body {
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif"
}

.link-switch {
  color: #fff;
  font-weight: bold;
}
.link-switch:hover {
  color: #000;
}

.editButton{
  width: 40%;
}